voila
jupyterlab
requests
pandas
textblob
nltk
plotly-express
pytest
ipyvuetify
voila-vuetify
dash
dash_bootstrap_components
folium
ipywidgets
jupyter_dash
matplotlib
numpy
plotly
seaborn
woocommerce
sqlalchemy